h4,
h5,
h6 {
  margin: 0;
}
.products_product {
  position: relative;
  border: 2px solid #ffe0b3;
  padding: 0.25rem;
  padding-bottom: 2rem;
}

.products_product-img > img {
  max-width: 100%;
  height: auto;
  color: #0e161a;
}

.product_content {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.product_content-name {
  margin-bottom: 1rem;
}

.product_content-price {
  margin-bottom: 1rem;
}

.products_product-cartBtn {
  width: calc(100% - 0.5rem);
  padding: 0.7rem 0;
  background-color: #ffe0b3;
  border: 1px solid #95a0a7;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0.25rem; /* for padding around product container */
}
.products_product-cartBtn:hover {
  cursor: pointer;
}
